<h1>關於</h1>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">此內容管理系統以</span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> 作為<a href="https://github.com/mdecourse/cmsimde">子模塊</a>運轉，可以更改對應的版本運行，cmsimde可以持續改版，不會影響之前設置子模塊，使用舊版cmsimde運作。</span></span></p>
<h4><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">利用cmsimde建立靜態網誌方法：</span></span></h4>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">1.在github建立倉儲，git clone到近端</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">2.參考</span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">，加入除<a href="https://github.com/mdecourse/newcms">cmsimde</a>目錄外的所有內容</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">以git子模塊添加</span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> <a href="https://github.com/mdecourse/cmsimde"> cmsimde</a></span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">建立cmsimde目錄，並從github取下子模組內容。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">3.在近端維護時，將目錄更改為到倉庫中的cmsimde，以python wsgi.py啟動近端網際伺服器。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">動態內容編輯完成後，以generate_pages轉為靜態內容，以git add commit和push將內容推到超長。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">4.之後若要以git clone取下包含submodule的所有內容，執行：</span></span></p>
<p><a href="https://github.com/mdecourse/newcms.git">git clone --recurse-submodules</a></p>
<p>開發</p>
<p></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><a href="https://github.com/mdecourse/cmsimde">的開發</a>，</span></span><span style="vertical-align: inherit;">可以在一個目錄中放入cmsimde，然後將up_dir中的內容放到與cmsimde目錄同位階的地方，使用命令進入cmsimde目錄，執行python wsgi.py ，就可以啟動，以瀏覽器https：// localhost：9443就可以連接，以admin作為管理者密碼，就可以登錄維護內容。</span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">cmsimde的開發採用Leo編輯器，打開cmsimde目錄中的cmsimde.leo就可以進行程序修改，結束後，以保留網際內容，只要將cmsimde外部的內容倒回up_dir目錄中即可連續對cmsimde遠程倉儲進行改版。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">init.py位於up_dir目錄中，可以設置site_title與uwsgi等變數。</span></span></p>
<h3><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">測試</span></span></h3>
<h1><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">PCH3 客戶關係</span></span></h1>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><strong>Overview</strong>概述</span></span></h2>
<p>In this lesson we will be discussing the standards of professional business conversations and the basics of customer service. We will discuss the importance of avoiding distractions and the best practices in customer service and communication.</p>
<p>在本課程中，我們將討論專業商務對話的標準和客戶服務的基礎。我們將討論避免分心的重要性以及客戶服務和溝通中的最佳做法。</p>
<p>Content has been derived from the STEM Readiness course by the National STEM Consortium under a CC-BY license.</p>
<p>內容是根據CC-BY許可從國家STEM聯盟的STEM準備課程中獲得的。</p>
<h2><u>Operational Procedures  Communication Methods and Professionalismhl 操作程序 溝通方法和專業精神</u></h2>
<p>The first thing we need to realize is that working in the information technology (IT) field is working in a customer service field. The IT field is unique in its own way, but it’s driven by customer service. While the standards of professional business conversations generally apply, there is also the unique aspect of the technician possessing “special knowledge” that a more senior professional may not possess. For example, a person whose computer you are there to fix may be a senior manager at your company, but they may have no idea about how to fix computers. You must, then, remain calm and measured in responding to the client’s needs, yet remain authoritative in your body of knowledge and procedures. This can be difficult for new technicians. Remember, always be kind and patient: the client needs your help!<br/><u></u></p>
<p> 我們需要意識到的第一件事是，在信息技術（IT）領域中的工作正在在客戶服務領域中。IT領域以其自己的方式是獨特的，但它是由客戶服務驅動的。雖然通常使用專業商務對話的標準，但是技術人員具有“高級專業知識”所不具備的獨特之處，而高級專業人士可能不具備。例如，您要修理計算機的人可能是您公司的高級經理，但他們可能不知道如何修理計算機。然後，您必須保持冷靜並在回應客戶需求時保持冷靜，同時在您的知識和程序方面保持權威。對於新技術人員而言，這可能很困難。記住，永遠要仁慈和耐心：客戶需要您的幫助！</p>
<p><img alt="" height="488" src="/images/1.png" width="815"/></p>
<p>Photo used under CC-BY-SA license from <span><a href="https://flic.kr/p/5LqyNr">Manchester</a></span><span><a href="https://flic.kr/p/5LqyNr">City Library</a></span>.照片由<span><a href="https://flic.kr/p/5LqyNr"><u><span>曼徹斯特</span></u></a></span><span><a href="https://flic.kr/p/5LqyNr"><u><span>市圖書館</span></u></a></span>根據CC-BY-SA許可使用。</p>
<p> </p>
<p>Customer Service Key Principles客戶服務關鍵原則</p>
<p>Employers have indicated that there are several key principles to follow when handling customers to ensure that you are providing a positive customer service experience.</p>
<p>Truly exceptional customer service involves surprising and delighting the customer by exceeding his or her expectations. Good customer service includes the following key elements:</p>
<ul>
<li><span></span>Effective listening.</li>
<li><span></span>Taking ownership of the situation.</li>
<li><span></span>Apologizing when appropriate.</li>
<li><span></span>Remaining courteous and professional in all situations.</li>
<li><span></span>Handling situations in a timely manner.</li>
<li><span></span>Ensuring customers’ issues are resolved.</li>
<li><span></span>Checking back with customers to ensure the problem was resolved to their satisfaction.</li>
</ul>
<p> </p>
<p>雇主表示，在處理客戶時要遵循幾個關鍵原則，以確保您提供積極的客戶服務體驗。</p>
<p>真正出色的客戶服務涉及超出客戶期望的驚喜和喜悅。良好的客戶服務包括以下關鍵要素：</p>
<ul>
<li><span></span>有效聆聽。</li>
<li><span></span>掌握情況。</li>
<li><span></span>適當的時候道歉。</li>
<li><span></span>在任何情況下都保持禮貌和專業。</li>
<li><span></span>及時處理情況。</li>
<li><span></span>確保解決客戶的問題。</li>
<li><span></span>與客戶核對，以確保問題得到滿意的解決。</li>
</ul>
<p>As a technician, depending on where you work, you will find that sometimes your customers are your company’s clients, and sometimes your customers are other employees at the company you work for. Whether they work for the same company that you do, are clients for your company, or are private individuals relying on your company, the same principles of customer service apply.</p>
<p>作為技術人員，根據您在哪里工作，您會發現有時您的客戶是您公司的客戶，有時您的客戶是您所在公司的其他員工。無論他們是與您在同一家公司工作，是您公司的客戶，還是依靠您公司的個人，都適用相同的客戶服務原則。</p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><u> <u>Effective Listening<span> </span></u><u>有效聆聽</u></u></span></span></h2>
<p>This principle is one of the most important elements in the ability of an employee to deliver outstanding customer service. Effective listening involves paying careful attention to what the customer is saying and watching the customer’s body language (if the encounter is in person) to detect the nonverbal cues that give clues as to what the customer is thinking and feeling.</p>
<p>該原則是員工提供出色客戶服務能力中最重要的要素之一。有效的聆聽包括認真注意客戶在說什麼，並觀看客戶的肢體語言（如果是面對面的話），以發現非語言線索，從而提供有關客戶在想什麼和感覺的線索。</p>
<p><img alt="" height="382" src="/images/2.jpg" width="640"/></p>
<p>Listening. Photo used under CC-BY-NC-ND license from <span><a href="https://www.flickr.com/photos/cabinetoffice/6684174833/in/photolist-bbE9iF-aSnP2t-aSnPmv-goanm-fBHdY9-88e38W-aw3PTS-aw17LM-aw17Bn-aw16A4-aw16oP-aw3P93-aw19En-aw17HK-aw1932-aw3MSq-aw3MFG-aw16rR-aw16ZM-aw3LXL-bbE7tX-88aRs2-88e5WW-99pSBf-88aShR-8csGVq-88ewoj-88evEm-88eyaE-88aNfT-88e4vU-88bgYT-88euvd-88aMcn-88e4mu-88e4L9-88aP4R-ayWBXW-88e2nG-88aSn2-88aLrT-99mKqp-7RhBfM-6uQMCX-ehZWW2-dKGinD-9wN5Bz-kCADyW-bihZUV-6xRMaz"><u><span>Cabinet</span></u></a></span><span><a href="https://www.flickr.com/photos/cabinetoffice/6684174833/in/photolist-bbE9iF-aSnP2t-aSnPmv-goanm-fBHdY9-88e38W-aw3PTS-aw17LM-aw17Bn-aw16A4-aw16oP-aw3P93-aw19En-aw17HK-aw1932-aw3MSq-aw3MFG-aw16rR-aw16ZM-aw3LXL-bbE7tX-88aRs2-88e5WW-99pSBf-88aShR-8csGVq-88ewoj-88evEm-88eyaE-88aNfT-88e4vU-88bgYT-88euvd-88aMcn-88e4mu-88e4L9-88aP4R-ayWBXW-88e2nG-88aSn2-88aLrT-99mKqp-7RhBfM-6uQMCX-ehZWW2-dKGinD-9wN5Bz-kCADyW-bihZUV-6xRMaz"><u><span>Office</span></u></a></span>.聽著 照片由<span><a href="https://www.flickr.com/photos/cabinetoffice/6684174833/in/photolist-bbE9iF-aSnP2t-aSnPmv-goanm-fBHdY9-88e38W-aw3PTS-aw17LM-aw17Bn-aw16A4-aw16oP-aw3P93-aw19En-aw17HK-aw1932-aw3MSq-aw3MFG-aw16rR-aw16ZM-aw3LXL-bbE7tX-88aRs2-88e5WW-99pSBf-88aShR-8csGVq-88ewoj-88evEm-88eyaE-88aNfT-88e4vU-88bgYT-88euvd-88aMcn-88e4mu-88e4L9-88aP4R-ayWBXW-88e2nG-88aSn2-88aLrT-99mKqp-7RhBfM-6uQMCX-ehZWW2-dKGinD-9wN5Bz-kCADyW-bihZUV-6xRMaz"><u><span>內閣</span></u></a></span><span><a href="https://www.flickr.com/photos/cabinetoffice/6684174833/in/photolist-bbE9iF-aSnP2t-aSnPmv-goanm-fBHdY9-88e38W-aw3PTS-aw17LM-aw17Bn-aw16A4-aw16oP-aw3P93-aw19En-aw17HK-aw1932-aw3MSq-aw3MFG-aw16rR-aw16ZM-aw3LXL-bbE7tX-88aRs2-88e5WW-99pSBf-88aShR-8csGVq-88ewoj-88evEm-88eyaE-88aNfT-88e4vU-88bgYT-88euvd-88aMcn-88e4mu-88e4L9-88aP4R-ayWBXW-88e2nG-88aSn2-88aLrT-99mKqp-7RhBfM-6uQMCX-ehZWW2-dKGinD-9wN5Bz-kCADyW-bihZUV-6xRMaz"><u><span>辦公室</span></u></a></span>根據CC-BY-NC-ND許可使用。</p>
<p>An effective listener is able to ask clarifying questions to help define the situation. At the end of the exchange, the employee should be able to clearly restate what the real problem is and what the customer is asking the company to do in response. The example below illustrates effective listening skills.</p>
<p>有效的傾聽者能夠提出明確的問題，以幫助確定情況。在交換結束時，員工應該能夠清楚地說明真正的問題是什麼，以及客戶要求公司做些什麼作為回應。下面的示例說明了有效的聆聽技巧。</p>
<p> </p>
<p>Representative Hello, thank you for calling the Metro Power Company, how may I help you?</p>
<p>Customer Hi, I need to report that my power is currently out.</p>
<p>Representative: I’m happy to record the outage. I’ll need to get just a bit more information from you to properly document the outage. What is the service address, please?</p>
<p>Customer 456 Park Street, Cityville, Delaware.</p>
<p>Representative: Thank you. And your name, please?</p>
<p>Customer Emily Fisher.</p>
<p>Representative: Thank you Ms. Fisher. You are indicating that your power is out now. Let me check to see if we are already aware of the outage in your area. (pause) Thank you for your patience while I pull the information up in our system.</p>
<p>Customer: Sure.</p>
<p>Representative: OK, thanks again for your patience. An outage in your area has been documented, and there are currently technicians working to correct the issue.</p>
<p>Customer Do you know when service will be restored?</p>
<p>Representative: The current estimate is that power should be restored in two to four hours.</p>
<p>Customer Well, that’s not too bad. Thanks for the information.</p>
<p>Representative: You’re quite welcome. Is there anything else that I can help you with today?</p>
<p>Customer No, that’s all.</p>
<p>Representative: Thank you for calling Metro Power Company.</p>
<p>代表：您好，謝謝您致電都會電力公司，我該如何幫助您？</p>
<p>客戶：您好，我需要報告我的電源已耗盡。</p>
<p>代表：我很高興記錄停機情況。我需要從您那裡獲取更多信息，以正確記錄停機情況。請問服務地址是什麼？</p>
<p>客戶：特拉華州Cityville公園街456號。</p>
<p>代表：謝謝。請問您的名字？</p>
<p>客戶：艾米麗·費舍爾（Emily Fisher）。</p>
<p>代表：謝謝費雪女士。您指示您的電源已耗盡。讓我檢查一下是否已經知道您所在地區的停電情況。（暫停）感謝您在我在系統中獲取信息時的耐心配合。</p>
<p>客戶：好的。</p>
<p>代表：好的，再次感謝您的耐心配合。已記錄您所在區域的中斷，並且目前有技術人員正在糾正此問題。</p>
<p>客戶：您知道何時恢復服務嗎？</p>
<p>代表：當前估計是應該在兩到四個小時內恢復供電。</p>
<p>客戶：嗯，還算不錯。謝謝提供信息。</p>
<p>代表：非常歡迎。今天還有什麼我可以幫助您的嗎？</p>
<p>客戶：不，僅此而已。</p>
<p>代表：感謝您致電都會電力公司。</p>
<p>In the conversation that we just reviewed, the customer service representative is polite, asks clarifying questions and confirms that she has the correct information, which indicates that she is using effective listening skills. She also thanks the customer for her patience with the outage and provides information on when the power is expected to be turned back on. The customer service representative also asks if the customer has any additional needs and thanks her for reporting the outage. All of this is conducted in a polite tone of voice.</p>
<p>在我們剛剛審核的對話中，客戶服務代表很有禮貌，詢問您要澄清的問題並確認她掌握了正確的信息，這表明她正在使用有效的聆聽技巧。她還感謝客戶對停電的耐心等待，並提供了有關何時應重新打開電源的信息。客戶服務代表還詢問客戶是否還有其他需求，並感謝她報告中斷情況。所有這些都是以禮貌的語調進行的。</p>
<p>When effective listening is used properly, customers will feel that you are empathizing with them and will think that you understand their situation. Truly empathizing with a customer means that you are able to mentally place yourself in the customer’s situation and understand what the customer is actually feeling at that time. An employee who has the ability to recognize and acknowledge the customer’s concerns as though the employee were actually walking in the customer’s shoes is empathizing with the customer. Employees may establish a connection with customers by sharing their own similar experiences and letting the customers know, “I understand how hard this must be for you right now.” Empathy goes beyond sympathy.</p>
<p>正確使用有效的聆聽後，客戶會覺得您對他們很同情，並認為您了解他們的處境。真正地同情客戶意味著您能夠在心理上將自己置於客戶的處境中，並了解客戶當時的實際感受。能夠識別並確認客戶的顧慮的員工，好像該員工實際上在穿鞋一樣，正在對客戶產生同情。員工可以通過分享自己的相似經歷並讓客戶知道“我知道現在這對您來說有多麼艱辛”，可以與客戶建立聯繫。同情超越同情。</p>
<p> </p>
<p>Here are several examples of empathetic statements that can create a connection with a customer in a positive way:</p>
<ul>
<li><span></span>"I am sorry the power is out right now. It is such a hot day and I know that it must be frustrating for you. Our company is working hard to restore power in your area so that you can have air conditioning again soon."</li>
<li><span></span>"I know how frightening it must have been when the plane experienced bad turbulence on that last flight. I get somewhat anxious when I fly and I really hate it when the ride is bumpy."</li>
<li><span></span>“You must be very frustrated that your computer can’t connect to the Internet. I need Internet access for almost everything that I do, so I know how hard it is to try to work without it. We’re figuring out the source of your connectivity issue, and we’ll fix it as soon as possible.”</li>
</ul>
<p> </p>
<p>以下是移情聲明的幾個示例，這些示例可以以積極的方式與客戶建立聯繫：</p>
<ul>
<li><span></span>“很抱歉，目前電源已經關閉。天氣真熱，我知道那一定會讓您感到沮喪。我們公司正在努力恢復您所在地區的電源，以便您可以很快再次使用空調。”</li>
<li><span></span>“我知道當飛機在最後一次飛行中遇到嚴重的湍流時，一定會感到多麼恐懼。我飛行時會有些焦慮，而當飛機顛簸時我真的很討厭它。”</li>
<li><span></span>“您一定對計算機無法連接到Internet感到非常沮喪。我幾乎需要做的所有事情都需要Internet訪問，所以我知道沒有Internet嘗試工作會有多麼困難。我們正在找出您的連接問題的根源，我們將盡快解決。”</li>
</ul>
<p>As a technician, it’s important to remember that not all customers will have a detailed knowledge of computers. We should use proper language that is simple and concise, not technical jargon that is confusing. If you are dealing with computer novices, it doesn’t help them for you to tell them the reason for their Internet connectivity issue is that “layer 3 of the OSI model is not functioning properly.” Instead, use effective listening principles to hear the customer’s problem, then share that the router isn’t working properly and therefore the customer cannot access the Internet, but you are going to get it fixed for them quickly. You must listen to the customer and clarify the problem. Don’t interrupt the customer, and always ensure you are restating the issue to the customer to confirm your understanding of the problem.</p>
<p>作為技術人員，重要的是要記住，並非所有客戶都具有計算機的詳細知識。我們應該使用簡單明了的適當語言，而不要使用容易引起混淆的技術術語。如果您正在與計算機新手打交道，這並不能幫助他們告訴他們Internet連接問題的原因是“ OSI模型的第3層無法正常運行”。取而代之的是，使用有效的監聽原理來聽取客戶的問題，然後分享路由器無法正常工作，因此客戶無法訪問Internet，但是您將為他們快速修復它。您必須聽取客戶的意見並澄清問題，不要打擾顧客。</p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><u> <u>Taking Ownership<span> </span></u><u>取得所有權</u></u></span></span></h2>
<p>Customers expect that an employee will take ownership of a situation. Taking ownership means that the employee takes responsibility for the situation and reassures the customer that the employee will take action. The employee should follow through and follow up afterwards to make sure the situation was resolved to the customer’s satisfaction. The employee should also promise to keep the customer informed as to what is happening along the way. An employee who is truly taking ownership of a situation is in regular contact with the customer, is continually trying to resolve the problem, and strives to keep the customer in the information loop.</p>
<p>客戶期望員工將擁有情況的所有權。擁有所有權意味著員工對情況負責，並向客戶保證員工將採取行動。員工應跟進並隨後跟進，以確保情況得到解決，以使客戶滿意。員工還應承諾使客戶了解沿途情況。真正掌握情況所有權的員工與客戶保持定期聯繫，正在不斷嘗試解決問題，並努力使客戶保持信息循環。</p>
<p>Apologizing When Appropriate適當道歉</p>
<p>Another effective customer service principle is to apologize when it is appropriate. There are two types of apologies. One type is used when the employee is taking ownership of a problem and apologizing for something that his company did or did not do:</p>
<ul>
<li><span></span>"I am sorry that I did not call you back yesterday to follow up."</li>
<li><span></span>"I am sorry that our company did not ship the product that you ordered."</li>
</ul>
<p>另一個有效的客戶服務原則是在適當的時候道歉。道歉有兩種類型。當員工對某個問題承擔所有權並為公司所做或未做的事情道歉時，使用一種類型：</p>
<ul>
<li><span></span>“很抱歉昨天我沒有給您回電話以跟進。”</li>
<li><span></span>“對不起，我們公司沒有發貨您訂購的產品。”</li>
</ul>
<p>It is always appropriate to apologize for errors that your company has made and to try to resolve them to the best of your ability. It is especially important to apologize to a customer who has become angry or frustrated about the situation.</p>
<p>對公司所犯的錯誤深表歉意，並儘力解決這些錯誤。向對這種情況感到生氣或沮喪的客戶道歉尤其重要。</p>
<p> </p>
<p>In some cases, the customer is angry about a situation that is really not the company’s fault, and that may not be something that the company can resolve at that point in time. In these situations, it may be appropriate to offer kind and sympathetic words that sound somewhat like an apology in order to defuse the situation. Examples of this might include:</p>
<ul>
<li><span></span>"I am so sorry that you are frustrated."</li>
<li><span></span>"I am sorry that happened to you."</li>
</ul>
<p>在某些情況下，客戶會對這種情況感到生氣，而這並非公司的過錯，而這可能不是公司當時可以解決的。在這種情況下，為了緩解這種情況，可能應該提供聽起來像道歉的友善和同情的詞。例如：</p>
<ul>
<li><span></span>“對不起，您感到沮喪。”</li>
<li><span></span>“對不起，這件事發生在你身上。”</li>
</ul>
<p>Ron is a customer at a computer supply store. He calls one morning to talk with Joe, the manager.</p>
<p>羅恩（Ron）是一家計算機用品商店的客戶。他打電話給一個早晨與經理喬談話。</p>
<p> </p>
<p>“Joe, I came by the store yesterday at 5：15 p.m. to get some things I needed to finish a job. It was really important that I finish the job yesterday. Your store was closed and I couldn’t get what I needed. I know you close at 5 p.m., but I thought for sure there would still be someone there. It was only 5：15. Some of your staff are usually there past 5 p.m. I didn’t get the job finished and lost a lot of money! I’m never shopping at your store again!”</p>
<p>“喬，我昨天下午5：15來商店，來找一些我完成工作所需的東西。我昨天完成工作真的很重要。您的商店關門了，我找不到我想要的東西。我知道您下午5點關門，但我想肯定會有人在那裡。只有5：15。您的一些員工通常在下午5點以後到那兒，但我沒有完成工作，卻損失了很多錢！我再也不會在您的商店購物了！”</p>
<p> </p>
<p>Let’s take a look at how Joe might respond.</p>
<p>讓我們看一下喬可能如何回應。</p>
<p>Show Empathy顯示同理心</p>
<p>“I understand how frustrated you must be.” In this situation, the company didn’t do anything wrong, so it would not be appropriate for Joe to apologize for the fact that the store closed at the regular posted time. If he says, “I’m so sorry we closed at 5 p.m., we really should have stayed open later,” it undermines the fact that the store has regular operating hours that are posted clearly on the door and on the company’s website.</p>
<p>“我知道你一定很沮喪。” 在這種情況下，該公司沒有做錯任何事情，因此對於喬在商店正常營業時間關閉的事實，喬不應該道歉。如果他說：“對不起，我們在下午5點關閉，我們真的應該稍後再開門，”這破壞了商店的正常營業時間清楚地印在門上和公司網站上的事實。</p>
<p>Joe needs to determine an appropriate response that acknowledges the customer’s frustration without undermining store policy.</p>
<p>Joe需要確定一個適當的響應，在不損害商店政策的前提下承認客戶的沮喪。</p>
<p>“I’m sorry you lost money on your job, and I understand how frustrating that must be for you. If you would like to come into the store this morning, I would be happy to personally help you locate whatever you might need to finish your job.”</p>
<p>“對不起，您在工作上賠了錢，我知道那一定會讓您感到沮喪。如果您想今天早上進店，我很樂意親自幫助您找到完成工作所需的一切。”</p>
<p>In this example, Joe strikes the right balance. He expresses regret that his customer lost money on his job, and also offers to assist him in locating the supplies he needs to finish the job now. However, he does not acknowledge any fault on the part of his company. The company closed at the regular posted time, and the customer arrived too late in the day.</p>
<p>在這個例子中，喬實現了正確的平衡。他對客戶在工作中賠錢感到遺憾，並表示願意幫助他找到現在完成工作所需的用品。但是，他不承認公司有任何過錯。該公司在正常的發佈時間關閉，而客戶當天到達的時間太晚了。</p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><u><u>Remain Courteous and Professional 保持禮貌和專業</u></u></span></span></h2>
<p>An employee providing customer service must learn to remain courteous in all situations, regardless of how the customer behaves.</p>
<p>提供客戶服務的員工必須學會在所有情況下都保持禮貌，無論客戶的行為如何。</p>
<p>The ability to defuse angry customers and handle difficult situations is a key element in providing effective customer service. An important strategy is to let the customer know what you are doing to solve the problem. Also, the ability to communicate on the same level as the customer and understand the audience is essential. Communicating on the same level as the customer means making sure to ask clarifying questions, repeating the information to ensure that you completely understand the issue and making sure the customer knows that you understand and will deal with the problem. It does not mean matching the customer’s behavior, particularly if the customer is angry or frustrated.</p>
<p>化解生氣的客戶並處理困難情況的能力是提供有效客戶服務的關鍵要素。一個重要的策略是讓客戶知道您正在採取什麼措施來解決問題。此外，與客戶在同一水平上進行交流並了解受眾的能力也至關重要。與客戶在同一級別上進行通信意味著確保提出明確的問題，重複信息以確保您完全理解問題，並確保客戶知道您已理解並會解決問題。這並不意味著匹配客戶的行為，尤其是在客戶生氣或沮喪時。</p>
<p><img alt="" height="400" src="/images/3.jpg" width="266"/></p>
<p> Customer Service. Photo used under CC-BY license from <span><a href="https://www.flickr.com/photos/seattlemunicipalarchives/3182935316"><u><span>Seattle</span></u></a></span><span><a href="https://www.flickr.com/photos/seattlemunicipalarchives/3182935316"><u><span>Municipal Archives</span></u></a></span>.客戶服務。照片由<span><a href="https://www.flickr.com/photos/seattlemunicipalarchives/3182935316"><u><span>西雅圖</span></u></a></span><span><a href="https://www.flickr.com/photos/seattlemunicipalarchives/3182935316"><u><span>市政檔案館</span></u></a></span>根據CC-BY許可使用。</p>
<p>What are courteous behaviors?</p>
<p>什麼是有禮貌的行為？</p>
<p>It is extremely important to maintain good eye contact, a moderate tone of voice, and positive body language during interactions with customers. Courteous behaviors could include a warm or sympathetic smile; an offer to take the customer to a more private location for further discussions; an offer of a tissue in the event of tears; an offer to call a family member if the customer appears extremely distressed, or an offer to give the customer a bit of privacy to pull himself together a bit more before resuming discussion about the problem.</p>
<p>與客戶互動時，保持良好的眼神交流，適度的語氣和積極的肢體語言極為重要。有禮貌的舉止可能包括溫暖或富有同情心的微笑。提供將客戶帶到更私密的位置進行進一步討論的提議；在流淚的情況下提供紙巾；如果客戶看上去非常苦惱，可以打電話給家庭成員，或者要給客戶一些私密性，以便在恢復有關該問題的討論之前將自己拉得更多一些。</p>
<p>Sometimes companies lose business because their employees do not demonstrate courteous behavior. They can quickly lose valued customers if company employees are rude or unhelpful. Employing proper phone etiquette is critically important. It is important to mute the telephone whenever you have to discuss a situation with a coworker. When chatting with a customer, use small talk only when appropriate and only about harmless topics such as the weather. If you must place someone on hold, check with the person frequently.</p>
<ul>
<li><span></span>"This will take a bit longer than I thought, would you like to continue to hold or may I call you back?"</li>
<li><span></span>"Is there a good number where I can reach you when I have the answer?"</li>
</ul>
<p>有時，公司因員工沒有表現出禮貌而失去業務。如果公司員工無禮或無益，他們可能會迅速失去有價值的客戶。正確使用電話禮節至關重要。每當您需要與同事討論情況時，都必須使電話靜音。與客戶聊天時，僅在適當的時候進行閒聊，並且僅談論天氣等無害的話題。如果必須擱置某人，請經常與該人核對。</p>
<ul>
<li><span></span>“這將比我想像的要花費更長的時間，您想繼續保留還是可以給您回電？”</li>
<li><span></span>“找到答案後，能找到您的電話嗎？”</li>
</ul>
<p>Expectation management is crucial: always set expectations and meet those expectations. Do <strong><b><span>not </span></b></strong>promise something you cannot deliver. As you work through the problem, maintain a positive attitude and tone of voice; you will get more referrals and business if you remain likeable. Remember: the customer isn’t the problem, the customer is the one <strong><b><span>with </span></b></strong>the problem. So, don’t argue with the customer; just solve the problem. Also, don’t minimize the customer’s issues: to the customer, it is a horrible, tragic, big problem that they need you to fix. Never blame the customer for the problem or be judgmental toward the customer. Saying “If you didn’t go to that website, you wouldn’t have this problem” isn’t helpful, it is just insulting. Also, your mobile phone can wait while you are interacting with a customer. Give the customer your full attention and avoid distractions.</p>
<p>期望管理至關重要：始終設定期望並滿足這些期望。難道<strong><b><span>不</span></b></strong>答應的東西你不能提供。解決問題時，請保持積極的態度和語氣；如果您仍然喜歡，您將獲得更多的推薦和生意。記住：客戶是沒有問題的，客戶是一個<strong><b><span>有</span></b></strong>問題。因此，請勿與客戶爭論；只是解決問題。另外，不要最小化客戶的問題：對客戶而言，這是一個可怕的，悲劇性的大問題，需要他們解決。切勿將問題歸咎於客戶或對客戶作出判斷。說“如果您不訪問該網站，就不會遇到這個問題”，這無濟於事，只是侮辱。同樣，您的手機可以在與客戶互動時等待。給客戶充分的關注，避免分心。</p>
<p><br/>Timeliness及時性</p>
<p> It is important to resolve customer issues as quickly as possible. The longer a problem persists without resolution, the greater the customer’s level of frustration.</p>
<p>盡快解決客戶問題很重要。如果問題無法解決，問題持續的時間越長，客戶的沮喪程度就越大。</p>
<p>How do you judge timeliness?</p>
<p>您如何判斷及時性？</p>
<p>Timeliness is actually a very subjective thing: it is truly something that is defined by the customer and the situation. Some customers expect an immediate response (i.e. now or in the very near future: five to ten minutes). Other customers understand that the problem may take some time to resolve and may be willing to wait a couple of hours. Still others understand that the situation is going to take more time to resolve for a variety of reasons. For example, some more extensive repairs may be delayed for several days while waiting for parts to arrive.</p>
<p>及時性實際上是一個非常主觀的東西：它確實是由客戶和情況所定義的東西。一些客戶期望立即得到響應（即現在或不久的將來：五到十分鐘）。其他客戶知道該問題可能需要一些時間才能解決，並且可能願意等待幾個小時。還有一些人知道，由於多種原因，這種情況將需要更多時間來解決。例如，在等待零件到達之前，一些更大規模的維修可能會延遲幾天。</p>
<p>The nature of the problem will dictate what is a timely response. If a user or customer is at a work stoppage, a quick response by the technician is expected. If a user has forgotten a password, an immediate password reset is a timely response. In the case of a non-functioning printer in a room with other printers, a slower response is more acceptable.</p>
<p>問題的性質將決定什麼是及時的響應。如果用戶或客戶處於工作停頓狀態，則技術人員會做出快速響應。如果用戶忘記了密碼，則立即重置密碼是及時的響應。如果房間中的打印機無法正常運行，而其他打印機則可以接受較慢的響應。</p>
<p><img alt="" height="212" src="/images/4.png" width="320"/></p>
<p>Photo used under CC-BY-NC license from <span><a href="https://flic.kr/p/6u1ypH"><u><span>Tyle.</span></u></a></span>照片由<span><a href="https://flic.kr/p/6u1ypH"><u><span>Tyle</span></u></a></span>根據CC-BY-NC許可<span><a href="https://flic.kr/p/6u1ypH"><u><span>使用。</span></u></a></span></p>
<p>Keeping the Customer Informed保持客戶知情</p>
<p>No matter how long a situation takes to resolve, it is critically important to continue to check back with customers and let them know that you are working on the problem during the process. This interaction helps lessen customers’ frustration, because they understand that you have not forgotten them and are working hard to resolve the situation. This strategy is tied closely to the issue of handling situations in a timely manner. A customer who is informed regularly throughout a situation, no matter how long it takes to resolve, is generally more happy with the outcome in the end.</p>
<p>無論情況要花多長時間解決，至關重要的是繼續與客戶核對並讓他們知道您在此過程中正在解決問題。這種互動有助於減輕客戶的挫敗感，因為他們知道您沒有忘記他們，並且正在努力解決問題。該策略與及時處理情況緊密相關。不管情況需要花費多長時間，在整個情況下定期得到通知的客戶通常會對最終結果感到更滿意。</p>
<h2><u>Problem Resolution and Follow-Up 問題解決與跟進</u></h2>
<p>It is imperative to follow up with the customer after problem resolution and make sure that everything was handled to the customer’s satisfaction, if at all possible.</p>
<p>解決問題後，必須與客戶保持聯繫，並確保一切可能的事情都得到客戶的滿意處理。</p>
<p>What are the limits on ensuring customer issues are resolved?</p>
<p>確保解決客戶問題有哪些限制？</p>
<p>Sometimes it is impossible to resolve the situation to a customer’s complete satisfaction. A computer that was involved in a power spike might be a total loss and may not be able to be repaired. A computer virus may infect and destroy sensitive data on a key project. Sometimes valuable items are broken or damaged badly in a shipment. The customer may have special sentimental attachment to certain items. Or, data that was lost because of a system failure may not have been stored anywhere else. Lost or damaged items may not be replaceable, or a new item may not have the same sentimental meaning as the one that was lost or damaged. Lost data may be very difficult to reproduce. These types of situations are just part of life.</p>
<p>有時無法解決這種情況以使客戶完全滿意。涉及電源峰值的計算機可能會造成全部損失，並且可能無法修復。計算機病毒可能感染並破壞關鍵項目上的敏感數據。有時，裝運中的貴重物品嚴重損壞或損壞。客戶可能對某些物品有特殊的情感依戀。或者，由於系統故障而丟失的數據可能沒有存儲在其他任何地方。丟失或損壞的物品可能無法更換，或者新物品可能與丟失或損壞的物品具有不同的情感含義。丟失的數據可能很難重現。這些情況只是生活的一部分。</p>
<p>If the situation cannot be resolved to the customer’s satisfaction, it is important to apologize for that and to express sympathy and empathy for the way that the customer is feeling at that point in time. Some examples might be:</p>
<ul>
<li><span></span>"I know how much you loved that car! I am so sorry it was totaled in that accident. I am just glad that you were not hurt."</li>
<li><span></span>"I am so sorry that your favorite vase was broken during the move. I understand that it was your mother’s, and is not something that you can replace. We feel really bad about that."</li>
<li><span></span>"I know how disappointing it is that you’ve lost photos on your hard drive due to the lightning storm. I’m sorry that you’re going through this now. I know how much those photos must have meant to you; my photos of the trip I took with my family this summer mean more to me than I can say."</li>
</ul>
<p>如果無法解決這種情況以使客戶滿意，則必須為此道歉並表達對客戶當時感覺的同情和同情。一些示例可能是：</p>
<ul>
<li><span></span>“我知道你對那輛車有多愛！我很抱歉那次車禍總共累了。我很高興你沒有受傷。”</li>
<li><span></span>“很抱歉，您最喜歡的花瓶在搬家過程中被弄壞了。我知道那是您母親的花瓶，不是您可以更換的東西。對此我們感到非常遺憾。”</li>
<li><span></span>“我知道您因雷雨而丟失了硬盤驅動器上的照片，這真令人失望。很抱歉您現在正在經歷此事。我知道那些照片一定對您意味著什麼；我的照片今年夏天我與家人的旅行中，對我來說意義重大，莫過於我能說的。”</li>
</ul>
<p>Always follow up with customers after repairs to verify that they are satisfied. This is a good approach for two reasons. First, the customer may be experiencing problems and would appreciate your indication that you are available to help rectify the problem. Second, the customer may have more business or a referral for you, because they were so happy with your performance. This is good customer service and also good business sense!</p>
<p>維修後請始終與客戶保持聯繫，以確保他們滿意。這是一個好方法，有兩個原因。首先，客戶可能遇到問題，希望您能幫助您解決問題。其次，客戶可能會對您有更多的業務或推薦，因為他們對您的表現非常滿意。這是良好的客戶服務，也具有良好的商業意識！</p>
<h2><u><u>Proper Treatment of a Customer’s Property<span> </span></u><u>妥善處理客戶財產</u></u></h2>
<p>Customers often entrust their confidential and personal data to you in order to have their devices repaired. Above all, respect the customers and their property. There are fundamental rules a technician should follow when handling a customer’s property:</p>
<ul>
<li><span></span>Do not use a customer’s equipment for personal use. You may have been tasked with setting up email on a customer’s smartphone. That doesn’t give you the right to make personal calls on their phone while it is in your possession.</li>
<li><span></span>Do not look through a device’s storage unless you need to in order to perform the job requested. If a customer asks you to back up all of his documents, it may be necessary to open the documents folder on the hard disk to copy those files over. This would be acceptable, but if he asked for documents and you are browsing through his pictures folder, this is unacceptable and outside the scope of the required job.</li>
<li><span></span>Ensure reasonable testing of a device. If you were testing a printer, you should print the minimal amount to verify functionality. There is no need to print 100 pages to verify that a printer works when a single page will suffice. Furthermore, ensure that the content printed is not offensive or personal in nature.</li>
<li><span></span>Return all settings to the customer’s preferences. When you work on someone’s machine or device, return the device with all settings reverted to the customer’s preferences. If the monitor resolution must be changed to accomplish the repair task, ensure the customer’s preferred resolution is restored when the job is complete.</li>
</ul>
<p>客戶通常將他們的機密和個人數據託付給您，以便對其設備進行維修。首先，尊重客戶及其財產。技術人員在處理客戶財產時應遵循的基本規則：</p>
<ul>
<li><span></span>請勿將客戶的設備用於個人用途。您可能被要求在客戶的智能手機上設置電子郵件。這並不意味著您擁有在您擁有的電話上通過電話撥打個人電話的權利。</li>
<li><span></span>除非您需要執行請求的作業，否則請勿瀏覽設備的存儲。如果客戶要求您備份所有文檔，則可能有必要打開硬盤上的documents文件夾以復制這些文件。這是可以接受的，但是如果他要文件，而您正在瀏覽他的圖片文件夾，則這是不可接受的，超出了所需工作的範圍。</li>
<li><span></span>確保合理測試設備。如果要測試打印機，則應打印最少的數量以驗證功能。當單頁就足夠時，無需打印100頁即可驗證打印機是否工作。此外，請確保所打印的內容不具有冒犯性或個人性質。</li>
<li><span></span>將所有設置返回到客戶的首選項。當您在某人的機器或設備上工作時，請返回設備並將所有設置恢復為客戶的首選項。如果必須更改監視器分辨率以完成修復任務，請確保在作業完成後恢復客戶的首選分辨率。</li>
</ul>
<p>Above all, respect customers and their property. Remember that you are a customer too; think of how you would like to be treated, and ensure that you treat your customers in this manner.</p>
<p>首先，要尊重客戶及其財產。請記住，您也是客戶。考慮如何對待您，並確保您以這種方式對待客戶。</p>
<h2><u> <u>Putting it All Together</u>放在一起</u></h2>
<p>Truly exceptional customer service involves surprising and delighting the customer by exceeding his or her expectations.</p>
<p>真正出色的客戶服務涉及超出客戶期望的驚喜和喜悅。</p>
<p>The following strategies are effective with all types of customer behavior:</p>
<ul>
<li><span></span>Warm welcome and friendly smile.</li>
<li><span></span>Effective listening.</li>
<li><span></span></li>
<li><span></span>Follow-through and follow-up.</li>
</ul>
<p>以下策略對所有類型的客戶行為均有效：</p>
<ul>
<li><span></span>熱情的歡迎和友好的微笑。</li>
<li><span></span>有效聆聽。</li>
<li><span></span>同情。</li>
<li><span></span>跟進和跟進。</li>
</ul>
<p>When dealing with customer service, we always want to exceed our customers’ expectations. One key step to accomplishing this is to set and meet the timeline you provide the customer. You need to tell the customer how long the repairs will take, and also if it is worth the cost of the repair. If a customer calls you for a broken laptop screen replacement on a four-year-old laptop, it may be more cost effective for the customer to simply buy a new laptop. (NOTE: The rule of thumb for laptop repairs is that if it costs 50 percent or more of the cost of a new laptop, replacement is suggested.)</p>
<p>與客戶服務打交道時，我們始終希望超越客戶的期望。完成此任務的關鍵一步是設置並滿足您為客戶提供的時間表。您需要告訴客戶維修需要多長時間，以及是否值得花費維修費用。如果客戶要求您更換一台使用四年的舊筆記本電腦的筆記本電腦屏幕壞了，那麼客戶只需購買一台新筆記本電腦可能更具成本效益。（注意：筆記本電腦維修的經驗法則是，如果筆記本電腦維修費用佔新筆記本電腦成本的50％或以上，則建議更換。）</p>
<p>When options are available, present them logically with the estimated cost, time to repair, and length of future service of the workstation. When providing services to the client, always provide documentation on the services you provided.</p>
<p>如果有可用的選件，請在邏輯上將其與估計的成本，維修時間和工作站的未來服務時長一起提供。向客戶提供服務時，請始終提供有關所提供服務的文檔。</p>
<p></p>