<h1>關於</h1>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">此內容管理系統以</span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> 作為<a href="https://github.com/mdecourse/cmsimde">子模塊</a>運轉，可以更改對應的版本運行，cmsimde可以持續改版，不會影響之前設置子模塊，使用舊版cmsimde運作。</span></span></p>
<h4><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">利用cmsimde建立靜態網誌方法：</span></span></h4>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">1.在github建立倉儲，git clone到近端</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">2.參考</span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">，加入除<a href="https://github.com/mdecourse/newcms">cmsimde</a>目錄外的所有內容</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">以git子模塊添加</span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> <a href="https://github.com/mdecourse/cmsimde"> cmsimde</a></span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">建立cmsimde目錄，並從github取下子模組內容。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">3.在近端維護時，將目錄更改為到倉庫中的cmsimde，以python wsgi.py啟動近端網際伺服器。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">動態內容編輯完成後，以generate_pages轉為靜態內容，以git add commit和push將內容推到超長。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">4.之後若要以git clone取下包含submodule的所有內容，執行：</span></span></p>
<p><a href="https://github.com/mdecourse/newcms.git">git clone --recurse-submodules</a></p>
<p>開發</p>
<p></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><a href="https://github.com/mdecourse/cmsimde">的開發</a>，</span></span><span style="vertical-align: inherit;">可以在一個目錄中放入cmsimde，然後將up_dir中的內容放到與cmsimde目錄同位階的地方，使用命令進入cmsimde目錄，執行python wsgi.py ，就可以啟動，以瀏覽器https：// localhost：9443就可以連接，以admin作為管理者密碼，就可以登錄維護內容。</span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">cmsimde的開發採用Leo編輯器，打開cmsimde目錄中的cmsimde.leo就可以進行程序修改，結束後，以保留網際內容，只要將cmsimde外部的內容倒回up_dir目錄中即可連續對cmsimde遠程倉儲進行改版。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">init.py位於up_dir目錄中，可以設置site_title與uwsgi等變數。</span></span></p>
<h3><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">測試</span></span></h3>
<h1><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">PCH3 客戶關係</span></span></h1>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><strong>Overview</strong>概述</span></span></h2>
<p>In this lesson we will be discussing the standards of professional business conversations and the basics of customer service. We will discuss the importance of avoiding distractions and the best practices in customer service and communication.</p>
<p>在本課程中，我們將討論專業商務對話的標準和客戶服務的基礎。我們將討論避免分心的重要性以及客戶服務和溝通中的最佳做法。</p>
<p>Content has been derived from the STEM Readiness course by the National STEM Consortium under a CC-BY license.</p>
<p>內容是根據CC-BY許可從國家STEM聯盟的STEM準備課程中獲得的。</p>
<h2><u>Operational Procedures  Communication Methods and Professionalismhl 操作程序 溝通方法和專業精神</u></h2>
<p>The first thing we need to realize is that working in the information technology (IT) field is working in a customer service field. The IT field is unique in its own way, but it’s driven by customer service. While the standards of professional business conversations generally apply, there is also the unique aspect of the technician possessing “special knowledge” that a more senior professional may not possess. For example, a person whose computer you are there to fix may be a senior manager at your company, but they may have no idea about how to fix computers. You must, then, remain calm and measured in responding to the client’s needs, yet remain authoritative in your body of knowledge and procedures. This can be difficult for new technicians. Remember, always be kind and patient: the client needs your help!<br/><u></u></p>
<p> 我們需要意識到的第一件事是，在信息技術（IT）領域中的工作正在在客戶服務領域中。IT領域以其自己的方式是獨特的，但它是由客戶服務驅動的。雖然通常使用專業商務對話的標準，但是技術人員具有“高級專業知識”所不具備的獨特之處，而高級專業人士可能不具備。例如，您要修理計算機的人可能是您公司的高級經理，但他們可能不知道如何修理計算機。然後，您必須保持冷靜並在回應客戶需求時保持冷靜，同時在您的知識和程序方面保持權威。對於新技術人員而言，這可能很困難。記住，永遠要仁慈和耐心：客戶需要您的幫助！</p>
<p><img alt="" height="488" src="/images/1.png" width="815"/></p>
<p>Photo used under CC-BY-SA license from <span><a href="https://flic.kr/p/5LqyNr">Manchester</a></span><span><a href="https://flic.kr/p/5LqyNr">City Library</a></span>.照片由<span><a href="https://flic.kr/p/5LqyNr"><u><span>曼徹斯特</span></u></a></span><span><a href="https://flic.kr/p/5LqyNr"><u><span>市圖書館</span></u></a></span>根據CC-BY-SA許可使用。</p>
<p> </p>
<p>Customer Service Key Principles客戶服務關鍵原則</p>
<p>Employers have indicated that there are several key principles to follow when handling customers to ensure that you are providing a positive customer service experience.</p>
<p>Truly exceptional customer service involves surprising and delighting the customer by exceeding his or her expectations. Good customer service includes the following key elements:</p>
<ul>
<li><span></span>Effective listening.</li>
<li><span></span>Taking ownership of the situation.</li>
<li><span></span>Apologizing when appropriate.</li>
<li><span></span>Remaining courteous and professional in all situations.</li>
<li><span></span>Handling situations in a timely manner.</li>
<li><span></span>Ensuring customers’ issues are resolved.</li>
<li><span></span>Checking back with customers to ensure the problem was resolved to their satisfaction.</li>
</ul>
<p> </p>
<p></p>